$color-primary-dark: #40575c;
$color-primary: #779990;
$color-primary-light: #e6f5f1;

$color-secondary-dark: #d46c4e;
$color-secondary: #f9ad6a;
$color-secondary-light: #ece5de;

$color-black: rgb(47, 47, 47);

$font-primary: "Roboto", sans-serif;
$font-secondary: "Epilogue", sans-serif;
