@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;600;700;800;900&display=swap");
ul,
p {
  max-width: 40rem;
  margin: 0 auto; }

li {
  list-style-type: none;
  margin-left: 3.5rem;
  margin-bottom: 2rem; }
  li::before {
    content: "\1F9E1";
    margin-right: 1rem;
    margin-left: -42px; }

p {
  margin-bottom: 2rem; }

html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

a {
  text-decoration: none; }

img {
  overflow: hidden;
  max-width: 100%; }

body {
  line-height: 1; }

* {
  font-family: "Roboto", sans-serif;
  line-height: 1.5; }

strong {
  font-weight: bold; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2f2f2f; }

p,
li,
a {
  font-size: 1.2rem; }

@media screen and (min-width: 1300px) {
  p,
  li,
  a {
    font-size: 1.4rem; } }

.heading__primary, .heading__secondary, .heading__tertiary {
  text-align: center;
  font-weight: 800;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto; }

.heading__primary {
  font-size: 3rem;
  position: relative;
  font-family: "Epilogue", sans-serif; }
  .heading__primary::before {
    content: "";
    width: 4rem;
    height: 2px;
    background-color: #779990;
    opacity: 0.5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -0.5rem; }
  .heading__primary::after {
    content: "";
    width: 4rem;
    height: 2px;
    background-color: #779990;
    opacity: 0.5;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%); }

.heading__secondary {
  color: #557e73;
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem; }

.heading__tertiary {
  font-family: "Epilogue", sans-serif;
  color: #40575c;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem; }

.heading__primary--light, .heading__secondary--light, .heading__tertiary--light {
  color: #e6f5f1; }

@media screen and (min-width: 1200px) {
  .heading__primary {
    font-size: 4.5rem;
    max-width: 70rem; }
  .heading__secondary {
    font-size: 2.5rem;
    max-width: 100%; }
  .heading__tertiary {
    font-size: 1.8rem;
    padding-bottom: 1.5rem; } }

.section-header {
  background: linear-gradient(to bottom right, #40575ce3, #486268be), url("/assets/forest.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  padding: 6rem 1rem 5rem 1rem; }

@media screen and (min-width: 800px) {
  .section-header {
    padding: 8rem 2rem 7rem 2rem; } }

@media screen and (min-width: 1200px) {
  .section-header {
    padding: 12rem 2rem 10rem 2rem; } }

.icon {
  font-size: 4rem;
  color: #779990;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: -2rem;
  margin-left: 0 auto;
  margin-right: 0 auto; }

.btn {
  display: block;
  cursor: pointer;
  background-color: #d46c4e;
  color: #ece5de;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s; }
  .btn:hover {
    background-color: #f9ad6a;
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: #2f2f2f; }
  .btn:active {
    transform: translateY(2px); }

@media screen and (min-width: 600px) {
  .btn {
    margin: 4rem auto;
    padding: 1.5rem 3rem; } }

.course {
  margin-bottom: 6rem;
  max-width: 100%;
  overflow: hidden; }
  .course__section {
    margin-bottom: 3rem; }
    .course__section > * {
      padding: 0 1rem; }
  .course__divider {
    max-width: 15rem;
    height: 2px;
    background-color: #779990;
    margin: 1.5rem auto;
    opacity: 0.5; }

@media screen and (min-width: 1200px) {
  .course__content {
    margin: 8rem 0; } }

.content {
  margin-bottom: 6rem;
  max-width: 100%;
  overflow: hidden; }
  .content__section {
    margin-bottom: 3rem;
    padding: 0 1rem; }
  .content__part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .content__text {
    margin-bottom: 2rem; }
  .content__divider {
    max-width: 15rem;
    height: 2px;
    background-color: #779990;
    margin: 1.5rem auto;
    opacity: 0.5; }
  .content__spacing {
    margin: 4rem 0;
    height: 4rem;
    background-color: #779990; }

@media screen and (min-width: 1400px) {
  .content {
    margin-bottom: 8rem; }
    .content__parts {
      margin-top: 6rem;
      display: flex;
      justify-content: center;
      padding: 0 3rem; }
      .content__parts .heading__secondary {
        font-size: 2rem;
        background-color: #40575c;
        border-radius: 1rem;
        color: #e6f5f1;
        padding: 1rem 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        margin-top: 2rem; }
    .content__section {
      display: grid;
      background-color: rgba(233, 243, 241, 0.808);
      border-radius: 2rem;
      padding: 0 2rem 2rem 2rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05); }
      .content__section:first-of-type {
        margin-right: 6rem; }
    .content__divider {
      height: 3px;
      width: 14rem;
      background-color: #779990; } }

.footer {
  padding: 3rem 0.5rem 2rem 0.5rem;
  background-color: #40575c;
  text-align: center; }
  .footer p,
  .footer a {
    color: #e6f5f1;
    font-size: 1rem; }
  .footer__copyright {
    margin-bottom: 0.5rem;
    font-weight: 300; }
  .footer__link {
    padding: 0.25rem;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    color: #fff;
    transition: all 0.3s ease; }
    .footer__link:hover {
      border-bottom: 2px solid #e6f5f1;
      color: #779990; }
  .footer__divider {
    max-width: 15rem;
    height: 2px;
    background-color: #779990;
    margin: 1.5rem auto;
    opacity: 0.5; }

.header {
  min-height: 70vh;
  height: auto;
  padding: 6rem 2rem;
  background: linear-gradient(to bottom right, #40575ccc, #779990c4), url("/assets/freedom.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .header__heading {
    font-family: "Epilogue", sans-serif;
    font-size: 2.6rem;
    font-weight: 800;
    color: #e6f5f1;
    letter-spacing: 2px;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    @media (min-width: 800px) {
      .header__heading {
        font-size: 3rem; } }
  .header__subheading {
    opacity: .7;
    font-family: "Epilogue", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #e6f5f1;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    @media (min-width: 800px) {
      .header__subheading {
        font-size: 2.3rem; } }
  .header__divider {
    height: 3px;
    background-color: #e6f5f1;
    min-width: 12rem;
    margin: 2rem 0;
    opacity: 0.5; }
  .header__subtext {
    color: #e6f5f1;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.8; }

@media screen and (min-width: 1200px) {
  .header {
    min-height: 80vh; }
    .header__heading {
      font-size: 4.7rem; }
    .header__subtext {
      font-size: 1.8rem; } }

.about {
  margin-bottom: 6rem;
  max-width: 100%;
  overflow: hidden; }
  .about__section {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .about__image {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    height: auto;
    overflow: hidden; }
  .about__text {
    margin-bottom: 1rem;
    padding: 0 1rem; }

@media screen and (min-width: 600px) {
  .about .about__section:first-of-type {
    padding: 0 3rem; }
  .about__image {
    margin-top: 4rem;
    border-radius: 1rem;
    overflow: hidden; } }

@media screen and (min-width: 1000px) {
  .about {
    margin-bottom: 0; }
    .about__content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin: 6rem 0 6rem 0; }
    .about .heading__tertiary {
      padding-top: 4rem;
      font-size: 2.2rem; }
    .about__image {
      margin-top: 0; }
    .about .about__section {
      padding: 0 2rem; } }

.introduction {
  margin: 6rem 0 6rem 0;
  padding: 0 1rem;
  max-width: 100%;
  overflow: hidden; }
  .introduction__divider {
    max-width: 15rem;
    height: 2px;
    background-color: #779990;
    margin: 2rem auto;
    opacity: 0.5; }

@media screen and (min-width: 1200px) {
  .introduction {
    margin: 6rem 3rem; }
    .introduction__content {
      margin: 0 auto;
      max-width: 1400px;
      display: flex; }
    .introduction__section:first-of-type {
      margin-right: 6rem; }
    .introduction__divider {
      display: none; } }

.offer {
  margin-bottom: 6rem;
  max-width: 100%;
  overflow: hidden; }
  .offer__section {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .offer__item, .offer__price, .offer__text {
    padding: 0 1rem; }
  .offer__price {
    max-width: 15rem;
    text-align: center;
    margin: 0 auto; }
  .offer__discount {
    font-weight: bold;
    color: #be1313; }
  .offer__divider {
    max-width: 15rem;
    height: 2px;
    background-color: #779990;
    margin: 1.5rem auto;
    opacity: 0.5; }
  .offer__image {
    width: 100%;
    max-width: 55rem; }
  .offer__countdown {
    padding: 3rem 0;
    background-color: #40575c;
    margin-bottom: 3rem; }
    .offer__countdown img {
      margin: 0 auto; }

@media screen and (min-width: 900px) {
  .offer__summary .offer__section:first-of-type {
    padding: 6rem 3rem 0 3rem; }
  .offer__payment-options {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
    .offer__payment-options .offer__section:first-of-type {
      margin-right: 8rem; }
    .offer__payment-options .offer__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .offer__payment-options .offer__divider {
      display: none; }
  .offer__price {
    max-width: 20rem; }
  .offer__image {
    border-radius: 1rem; } }

@media screen and (min-width: 1600px) {
  .offer__summary .offer__section:first-of-type {
    padding: 6rem 0 0 0; }
  .offer__summary {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .offer__divider {
    display: none; }
  .offer__section {
    margin: 4rem; } }

.presentation {
  margin-bottom: 6rem;
  max-width: 100%;
  overflow: hidden; }
  .presentation__content {
    margin-top: 3rem; }
  .presentation__section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .presentation__image {
    width: 100%;
    max-width: 35rem;
    height: auto;
    border-radius: 50%;
    padding: 3rem;
    margin: 0 auto;
    object-fit: cover; }
  .presentation__text {
    margin-bottom: 1rem;
    padding: 0 1rem; }

@media screen and (min-width: 1200px) {
  .presentation {
    margin-bottom: 10rem; }
    .presentation__content {
      max-width: 1400px;
      margin: 0 auto;
      margin-top: 10rem;
      padding: 0 3rem;
      display: flex;
      justify-content: center;
      align-items: center; }
    .presentation__section {
      width: auto; } }
